<a href="https://colab.research.google.com/github/KoKoalala/-portfolio/blob/main/%EC%BD%94%EB%94%A9%EC%9D%98_%EC%8B%9C%EC%9E%91%EA%B3%BC_%EB%81%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A코드

In [ ]:
A = [0] * 10
B = [0, 1000, 1000, 2000, 3000, 3000, 6000, 6000]

n, k = map(int, input("띄어쓰기를 기준으로 인원수와 여행지로 결정하기 위해 필요한 득표 수를 입력해주세요.").split())
for _ in range(n):
    C = list(map(int,input("띄어쓰기를 기준으로 사용자가 입력할 관광지의 수를 입력하시고").split()))

    for i in range(1,C[0]+1) :
        A[C[i]] += 1

ans = 0
for i in range(1, 8):
    if A[i] >= k:
        ans += B[i]

print(ans * n)

5 3

B코드

In [ ]:
coochu = int(input())
zang = 0
if coochu % 5 == 0:
  zang = coochu // 5
  total = zang * 150000
  print(zang, total)
else:
  zang = (coochu // 5)
  total = zang * 150000
  zang += 1
  print(zang, total)

C코드

In [ ]:
y,m,d=map(int,input().split('.'))
yy,mm,dd=map(int,input().split('.'))
days = [0,31,28,31,30,31,30,31,31,30,31,30,31]
ans1=0
ans2=0
ny=1999
nm=12
nd=31
cnt=4 #요일
ck=0 #시작

def yun(year):
  if year % 400 == 0:
    return 1

  if (year % 4 == 0) and (year % 100 != 0):
    return 1

  return 0

while True:
  cnt=cnt+1
  nd=nd+1

  if cnt == 7:
    cnt=cnt%7

  if nd>days[nm]:
    nd=1
    nm=nm+1

    if nm >= 13:
     nm=1
     ny=ny+1

     if yun(ny)==1:
       days[2] = 29
     else:
       days[2]=28
  if ny==y and nm==m and nd==d:
    ck=1
  if ck==1 and cnt==4:
    ans1=ans1+nm+nd
    ans2=ans2+(nm+nd)*2

  if ny == yy and nm == mm and nd == dd:
    break
print(ans1,ans2)

SyntaxError: invalid syntax (<ipython-input-5-e5bf8c82494b>, line 34)

D코드

In [ ]:
a,b,c=map(int,input().split())
cong=a//40
sary=b//50
dora=c//30
if int(cong) <= int(sary) and int(cong) <= int(dora):
  print(cong)
elif int(sary) <= int(cong) and int(sary) <= int(dora):
  print(sary)
else:
  print(dora)

1000 1200 700
23

E코드

In [ ]:
n=int(input("특산물의 가짓수를 입력해주세요. : "))
A=[0]+list(map(int,input("각 특산물의 가격을 띄어쓰기 기준으로 입력해주세요.: ").split()))
m,k=map(int,input().split())
ans=0
for i in range(1,n+1):
  for j in range(i+1,n+1):
    for ii in range(j+1,n+1):
      if (A[i]+A[j]+A[ii])*m <= k:
        ans +=1
print("당신의 답은",ans,"입니다.")

8
1000 5000 2000 1500 2200 3400 10000 500
8 100000
39

실험실

In [ ]:
list1=[월]
print(list[0])

NameError: name '월' is not defined